/*
  ========================================
  C S S   R E S E T
  ========================================

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  C U S T O M   S T Y L E S
  ========================================
*/

body {
  background: lightgoldenrodyellow;
  color: #2E3033;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/*
  ========================================
  G R I D   L A Y O U T
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#grid {
  background: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-areas:
    "header"
    "hero"
    "about"
    "contact"
    "resume"
    "return"
    "footer";
}
#grid > * {
  padding: 22px;
}
header {
  grid-area: header;
}
#hero {
  grid-area: hero;
  height: 333px;
  background-image: url(../images/violet_la_ruta_de_las_flores_sm.jpg);
  background-position: top center;
  background-size: cover;
}
#about {
  grid-area: about;
  background: goldenrod;
}
#contact {
  grid-area: contact;
  background-color: red;
  color: lightgoldenrodyellow;
}
#contact h1 {
  color: lightgoldenrodyellow;
}
#resume {
  grid-area: resume;
  background: goldenrod;
}
#return-home {
  grid-area: return;
  background: red;
  margin: -10px 0;
}
footer {
  grid-area: footer;
  background: lightgoldenrodyellow;
}

/*
  ========================================
  T Y P O G R A P H Y
  ========================================
*/

h1, h2, h3 {
  text-transform: uppercase;
  margin-bottom: 22px;
}
p {
  margin-bottom: 22px;
}
h1 {
  color: red;
  font-size: 36px;
  line-height: 36px;
}
h4 {
  font-size: 18px;
  color: #2E3033;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 22px;
}
h5 {
  color: #2E3033;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em,
i {
  font-style: italic;
}


/*
  ========================================
  L I N K S
  ========================================
*/

a {
  color: lightgoldenrodyellow;
  text-decoration: none;
  font-weight: 300;
}
p a {
  color: royalblue;
}
.light-link {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 66px;
  text-transform: uppercase;
  float: none;
  display: block;
  text-align: center;
}
.light-link:hover {
  color: yellow;
}

/*
  ========================================
  H E A D E R
  ========================================
*/

.logo {
  margin-bottom: 22px;
  font-size: 48px;
  letter-spacing: 2px;
}
nav {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
nav li {
  display: block;
  margin-bottom: 11px;
}
nav li:last-child {
  margin-bottom: 0;
}
nav a:hover {
  background: yellow;
  color: red;
}

/*
  ========================================
  A B O U T
  ========================================
*/

#about img {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 33px;
  border-radius: 50%;
}
.smallpic {
  display: block;
}
.largepic {
  display: none;
}

/*
  ========================================
  C O N T A C T
  ========================================
*/

ion-icon {
  font-size: 88px;
  display: block;
  margin: 0 auto 11px;
}
#contact-info {
  display: grid;
  grid-template-columns: 1;
  grid-template-areas:
    "address"
    "email"
    "phone";
}
.contact-method {
  padding: 22px 0 44px;
}
.address {
  grid-area: address;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
  padding-bottom: 22px;
}

/*
  ========================================
  R E S U M E
  ========================================
*/

#resume h1 {
  margin-bottom: 11px;
}
#resume a {
  display: block;
  color: royalblue;
  text-transform: uppercase;
  margin-bottom: 22px;
}
table {
  width: 100%;
  text-align: left;
  vertical-align: middle;
  margin-bottom: 44px;
}
#resume table:last-child {
  margin-bottom: 22px;
}
th {
  border-bottom: 1px solid #464a4d;
  text-align: center;
  font-weight: 400;
}
td {
  padding: 22px 11px 0 0;
  font-size: 14px;
}
td:last-child {
 padding: 22px 0 0;
}
.location {
  text-align: right;
  width: 35%;
}
.years {
  width: 12%;
  font-size: 14px;
  padding-right: 15px;
  color: #464a4d;
}
.skills {
  text-align: center;
}
.skill {
  padding: 0 15px;
  text-transform: uppercase;
}

/*
  ========================================
  F O O T E R
  ========================================
*/

footer {
  color: red;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

/*
========================================
M E D I A   Q U E R I E S
========================================
*/

/*  M E D I U M - T A B L E T S  */
@media screen and (min-width: 768px) {
  .logo {
    float: left;
    margin-bottom: 0;
  }
  nav {
    text-align: right;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav li:last-child {
    margin-right: 0;
  }

  #hero {
    height: 700px;
    background-image: url(../images/violet_la_ruta_de_las_flores_lrg.jpg);
    background-position: bottom center;
  }

  #about img {
    width: 50%;
    float: left;
    padding: 33px;
  }
  .smallpic {
    display: none;
  }
  .largepic {
    display: block;
  }

  #contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "address email phone";
  }
  .contact-method {
    padding: 0 0 11px;
  }
}

/*  L A R G E - D E S K T O P  */
@media screen and (min-width: 1024px) {
  body {
    font: 300 18px/24px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #grid {
    max-width: 1400px;
  }
  .logo {
    font-size: 64px;
  }
  #hero {
    height: 900px;
  }
  .location {
    font-size: 18px;
  }
  h5 {
    font-size: 18px;
  }
  td {
    font-size: 16px;
  }
}